<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.footer {
  
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #FF0018;
   color: white;
  a {
    color: Orange;
  }
   text-align: center;
   height:100%;
}


</style>
</head>
<body>

<div class="footer">
  <p class="mt-3">
    Created By
    <a href="https://github.com/aditipandey017">Aditi Pandey</a>
    and
    <a
      href="https://github.com/bhupii77">Bhupendra Singh Adhikari</a>
    
  </p>
  <h5 class="text-center">Contact Us</h5>
  <p>© 2024 Blood Bank Management System</p>
  <p>phone no: 1234567890</p>
  <p>email: abcxxxx@gmail.com</p>

</div>

</body>
</html> 
